#root {
  /* max-width: 1960px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  max-width: 1960px;

}
.input-submit-btn
{
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 8px;

  background: linear-gradient(135deg, #4f46e5, #9333ea);
  color: white;
  border: none;

  cursor: pointer;
  font-weight: 600;

  transition: 0.3s ease;
}
.input-submit-btn:hover {
  background: #8f75ff;
  transform: scale(1.06);    
  box-shadow: 0px 4px 12px rgba(106, 90, 249, 0.7);
}
