
.line-input-box {
    width: 25%;
    padding: 10px 14px;
    margin-right: 15px;  
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    

    transition: 0.25s ease;
}

.line-input-box:focus {
    border-color: #6a5af9;
    box-shadow: 0 0 8px rgba(106, 90, 249, 0.6);
    transform: scale(1.03);
}

.line-input-box:hover {
    border-color: #a39bff;
}
